/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
  }
  * {
    font-family: "Open Sans";
  }
  
#fondo {
    width: auto;
    height: auto;
}
/*
header,section#inicio {
  background-image: url(https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #18181B;
  opacity: 0.9;
}

  section#inicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #18181B;
    opacity: 0.5;
    z-index: -1;
  }
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #18181B;
    opacity: 0.5;
    z-index: -1;
  } */ 
  #fondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #18181B;
    opacity: 0.5;
    z-index: -1;
  }
  #fondo {
    background-image: url(https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #18181B;
    opacity: 0.7;
  }
  #color-fondo {
    width: auto;
    height: auto;
    background-color: #18181B;
    opacity: 0.7;
  }
/* Estilo para la barra de navegación */
header {
    
    color: white;
    padding: 30px 0;
    text-align: center;
    height: auto;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para las secciones */
section {
    padding-left: 50px;
    padding-top: 30px;
    text-align: center;
}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}



/* Estilo para el contenedor principal */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Estilo para la barra de navegación */
header {
    
    color: white;
    padding: 30px;
    text-align: right; /* Alinea los elementos a la derecha */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px; /* Separación entre elementos */
}

nav a {
    color: #858594;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para las secciones */
section {
    /* flex: 1; /* Hace que las secciones ocupen todo el espacio disponible */ 
    padding-left: 50px;
    text-align: center;
    }

/* Estilo para el footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
#inicio {
    
    color: #FFF;
    height: 100vh;
    text-align: left;
}
#texto-container {
    font-size: 2.3rem;
    height: auto;
    width:auto;
    padding-top: 10vh;
}
#p-welcome {
    font-size: 1.8rem;
    padding-top: 30px;
    }
#titulo {
    padding: 10px;
    padding-left: 0;
}

/* Estilo para el menú hamburguesa */
.menu-icon {
    display: none; /* Oculta el menú hamburguesa por defecto en pantallas grandes */
    cursor: pointer;
}

.menu-icon .bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Estilo para la barra de navegación */
nav {
    text-align: right; /* Alinea los elementos a la derecha en pantallas grandes */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px; /* Separación entre elementos */
}

nav a {
    color: #858594;
    text-decoration: none;
    font-weight: bold;
}
/* Estilos responsivos */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    section {
        padding: 20px;
    }
}
/* Estilos responsivos */
@media (max-width: 768px) {
    header {
        text-align: center; /* Centra los elementos en pantallas más pequeñas */
        padding: 30px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0; /* Espaciado entre elementos en pantallas más pequeñas */
    }

    section {
        padding: 20px;
    }
}

/* Estilos responsivos */
@media (max-width: 768px) {
    /* Mostrar el menú hamburguesa en pantallas pequeñas */
    .menu-icon {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    /* Ocultar la barra de navegación en pantallas pequeñas */
    nav {
        display: none;
    }

    /* Mostrar la barra de navegación cuando el menú hamburguesa está activo */
    #nav.active {
        display: block;
    }
}