/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
  }
  * {
    font-family: "Open Sans";
  }

#fondo {
    width: auto;
    height: auto;
}
/*
header,section#inicio {
  background-image: url(https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #18181B;
  opacity: 0.9;
}

  section#inicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #18181B;
    opacity: 0.5;
    z-index: -1;
  }
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #18181B;
    opacity: 0.5;
    z-index: -1;
  } */ 
  #fondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #18181B;
    opacity: 0.5;
    z-index: -1;
  }
  #fondo {
    background-image: url(https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #18181B;
    opacity: 0.7;
  }
  #color-fondo {
    width: auto;
    height: auto;
    background-color: #18181B;
    opacity: 0.7;
  }
/* GRID */
  section#proyectos {
    margin: 0;
    padding: 0;
    
  }
  
  .titulo {
    font-size: 20px;
    text-align: center;
  }
  
  .grid {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 120px;
    background-color: #18181B;
    padding-bottom: 80px;
    padding-left: 70px;
  }
  .titulo{
    background-color: #18181B;
    color: #858594;
    text-shadow: 2px 2px 4px rgba(133, 133, 148, 0.5); /* Sombra de texto */

    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
  }
  .proyecto {
    position: relative;
    width: 75%; /* Ancho de tu contenedor */
    overflow: hidden;
    transition: transform 1.5s ease;
    background-color: #3b3b43;
    padding: 15px;
    box-shadow: 0 0 10px rgba(133, 133, 148, 0.8);
  }
  .proyecto a{
    text-decoration: none; /* Quita el subrayado */
    color: #FFFFFF; /* Establece el color de texto personalizado */
   }
  img {
    width: 300px;
    height: 175px;

  }
#proyectos {
    background-color: #18181B;
}
  .proyecto p {
    text-align: center;
    padding-top: 10px;
  }
/* EFECTO DE ANIMACION SUAVE AL CARGAR Y APARECER LOS ELEMENTOS */
.secciones {
    opacity: 0; /* Inicialmente, los elementos están ocultos */
    transform: translateY(-20px); /* Los elementos estarán 20px arriba */
    animation: aparecer 0.5s ease-in-out forwards; /* Nombre de la animación y duración */
    
}
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* SECCION DE TECNOLOGIAS*/
#Technologies {
    padding: 0;
    background-color: #3b3b43;
    
}
#grid-tech {
    display: grid;
    height: 65vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #3b3b43;
    justify-items: center;
    align-items: center;
  }
#tech-h3 {
    background-color: #3b3b43;
    color: #D4D4D8;
}

.certify {
    width: 50%; /* Ancho de tu contenedor */
    overflow: hidden;
    transition: transform 1.5s ease;
    background-color: #3b3b43;
    padding: 15px;
    /* box-shadow: 0 0 10px rgba(133, 133, 148, 0.8); */
    height: auto;
  }
.certify p {
    text-align: center;
    padding-top: 10px;
  }
.certify a{
    text-decoration: none; /* Quita el subrayado */
    color: #FFFFFF; /* Establece el color de texto personalizado */
   }
   .certify:hover {
    transform: scale(1.1); /* Cambiar el valor para ajustar el efecto de agrandamiento */
}
/* AGRANDAR IMAGENES AL PASAR EL MOUSE */
  .proyecto:hover {
    transform: scale(1.1); /* Cambiar el valor para ajustar el efecto de agrandamiento */
}




/* Estilo para la barra de navegación */
header {
    
    color: white;
    padding: 30px 0;
    text-align: center;
    height: auto;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para las secciones */
section {
    padding-left: 50px;
    padding-top: 30px;
    text-align: center;
}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}



/* Estilo para el contenedor principal */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Estilo para la barra de navegación */
header {
    
    color: white;
    padding: 30px;
    text-align: right; /* Alinea los elementos a la derecha */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px; /* Separación entre elementos */
}

nav a {
    color: #858594;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para las secciones */
section {
    /* flex: 1; /* Hace que las secciones ocupen todo el espacio disponible */ 
    padding-left: 50px;
    text-align: center;
    }

/* Estilo para el footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
#inicio {
    
    color: #FFF;
    height: 100vh;
    text-align: left;
}
#texto-container {
    font-size: 2.3rem;
    height: auto;
    width:auto;
    padding-top: 10vh;
}
#p-welcome {
    font-size: 1.8rem;
    padding-top: 30px;
    }
#titulo {
    padding: 10px;
    padding-left: 0;
}

/* Estilo para el menú hamburguesa */
.menu-icon {
    display: none; /* Oculta el menú hamburguesa por defecto en pantallas grandes */
    cursor: pointer;
}

.menu-icon .bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Estilo para la barra de navegación */
nav {
    text-align: right; /* Alinea los elementos a la derecha en pantallas grandes */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px; /* Separación entre elementos */
}

nav a {
    color: #858594;
    text-decoration: none;
    font-weight: bold;
}
/* FOOTER Y TODO LO DEMAS QUE HAYA ABJO*/

footer {
    text-align: center; /* Centra los elementos horizontalmente */
    padding: 20px; /* Espaciado para los logos */
    background-color: #333; /* Color de fondo del footer */
  }
  
  .social-icons {
    display: flex; /* Muestra los íconos en línea */
    justify-content: center; /* Centra horizontalmente los íconos */
  }
  
  .social-icons a {
    margin: 0 10px; /* Espacio entre los íconos */
  }
  
  .social-icons img {
    width: 40px; /* Tamaño de los íconos (ajusta según tus necesidades) */
    height: 40px;
  }
  
  /* EFECTO UNDERLINE HOVER */
  nav ul li {
    position: relative;
    
    transition: 0.5s;
    cursor: pointer;
  }
  nav ul li::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: #3b3b43;
  }
  nav ul li:hover {
    color:#FFFFFF;
  }
  nav ul li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }


/* Estilos responsivos */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    section {
        padding: 20px;
    }
}
/* Estilos responsivos */
@media (max-width: 768px) {
    header {
        text-align: center; /* Centra los elementos en pantallas más pequeñas */
        padding: 30px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0; /* Espaciado entre elementos en pantallas más pequeñas */
    }

    section {
        padding: 20px;
    }
}

/* Estilos responsivos */
@media (max-width: 768px) {
    /* Mostrar el menú hamburguesa en pantallas pequeñas */
    .menu-icon {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    /* Ocultar la barra de navegación en pantallas pequeñas */
    nav {
        display: none;
    }

    /* Mostrar la barra de navegación cuando el menú hamburguesa está activo */
    #nav.active {
        display: block;
    }

    /* DISEÑO RESPONSIVO DE LOS PROYECTOS GRID */
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
      }
    
      .proyecto {
        width: 100%;
        height: 100%;
      }
    /* DISEÑO RESPONSIVO PROYECTOS GRID EN COLUMNA*/
    .grid {
        display: block; /* Cambia el display de grid a bloque para apilar elementos verticalmente */
        padding: 0; /* Elimina el relleno */
    }

    .proyecto {
        width: 50%; /* Ancho completo en pantallas pequeñas */
        margin-bottom: 40px; /* Espacio entre proyectos */
        margin: 0 auto 40px; /* Centra horizontalmente y agrega espacio inferior entre proyectos */
    }
    .social-icons a {
        margin: 10px 0; /* Espacio vertical entre los íconos */
      }
    /* DISEÑO RESPONSIVO PARA LOS CERTIFICADOS */
    #grid-tech {
      grid-template-columns: 1fr; /* Cambia a una sola columna */
      align-items: stretch; /* Alineación predeterminada (sin centrar) */
      height: auto;
  }

  .certify {
    margin-bottom: 80px; /* Espacio de separación entre elementos en dispositivos móviles */
    height: 200px;
  }
  
    
}